<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus productos</ng-template>
    <div *ngIf="products$ | async as products">
      <p *ngIf="products.length === 0">Su carrito está vacío</p>
      <div class="row" *ngFor="let product of products">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            <img class="image" [src]="product.image" alt="" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="box">
            {{ product.title }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="box">
            {{ product.price }}
          </div>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Datos Personales</ng-template>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae laboriosam
      sunt, beatae earum qui sed assumenda reprehenderit neque. Odit, ipsam
      molestiae? Vel tenetur officia fugiat nostrum fuga neque id perferendis?
    </p>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Información de Pago</ng-template>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus unde
      quas, laudantium corrupti nostrum modi! Quisquam explicabo magnam
      deleniti. Similique, excepturi possimus aut inventore voluptatem
      consequatur dolore odit natus enim!
    </p>
  </mat-step>
</mat-horizontal-stepper>
